<ul>
<% test.forEach(function(){ %>
  <li><%= test %></li>
<% }); %>
</ul>

<h4><%= test[0].value.name %></h4>
<h4><%= test[0].value.race %></h4>
<h4><%= test[0].value.charClass %></h4>
<h4><%= test[0].value.age %></h4>

<h4><%= test[1].value.name %></h4>
<h4><%= test[1].value.race %></h4>
<h4><%= test[1].value.charClass %></h4>
<h4><%= test[1].value.age %></h4>
