 <html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>

#statblock {
  display: flex;
  flex-direction: row;
  background-color:inherit;

  justify-content: center;
  flex-wrap:wrap;
  flex-shrink: 2;
  padding-right: 25px;

}

/* add to flexbox for wrapping */
#statblock > div {
  /* background-color: White; */
  width: 80px;
  margin: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 10px;


}

.subtitle{
  font-weight: bold;
  font-size: 15px;
  padding-left: 5px;
}

.subsubtitle{
  font-weight: bold;
  width: 75;
}

.jumbotron{

  text-align: center;
  background-color: orange;

  background-size:contain;
}




#bottomButtons{
  width: 250px;
  height: 40px;
  background-color: orange;
  border-color: white;
  border-collapse:inherit;
  align-items: center;
}

#cbuttons{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

#cbuttons > div {
    background-color: White;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
    border-width: 3px;
}


.container {
    position:relative;
    text-align: center;
}
/* Centered text */

.defaultText {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: White;
     padding-left: 20px;
     padding-top: 130px;
     padding-bottom: 30px;
     width:100px;

}


.flex-container {
  display:inline-flex;

}

.text-right{
  text-align: right !important;
}


/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor:pointer;
    width: 75px;
    height: 75px;


}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


</style>

<script type="text/javascript">
$(document).ready(function(){
  $('#myModal').modal('show');
});

</script>





</head>


  <body>


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<div class="jumbotron">

      <h2>You are...</h2>
      <span><h1 style="color:White;"><%= charName %></h1></span>
      <h2>A <%= Alignment %>,</h2>
      <p><h2><%= charSex %> <%= charRace %> <%= charClass %>  </h2> <h5>-<%= subRace %>-</h5></p>

      <div class="flex-container" id ="statblock">
        <div class="container">
            <img src="Strength2.svg" height="70" width="70">
            <p class="subtitle">Strength</p>
            <div class="defaultText"><%= Strength %>(<%=Strength_Bonus%>)</div>
        </div>
        <div class="container">
            <img src="Dexterity2.svg" alt="Dexterity" height="70" width="70">
            <p class="subtitle">Dexterity</p>
            <div class="defaultText"><%= Dexterity %>(<%=Dexterity_Bonus%>)</div>
        </div>
        <div class="container">
            <img src="Constitution2.svg" alt="Constitution" height="70" width="70">
            <p class="subtitle">Constitution</p>
            <div class="defaultText"><%= Constitution %> (<%=Constitution_Bonus%>)</div>
        </div>
        <div class="container">
            <img src="Intelligence2.svg" alt="Intelligence" height="70" width="70">
            <p class="subtitle">Intelligence</p>
            <div class="defaultText"><%= Intelligence %> (<%=Intelligence_Bonus%>)</div>
        </div>
        <div class="container">
            <img src="wisdom2.svg" alt="Wisdom" height="70" width="70">
            <p class="subtitle">Wisdom</p>
            <div class="defaultText"><%= Wisdom %> (<%=Wisdom_Bonus%>)</div>
        </div>
        <div class="container">
            <img src="Charisma2.svg" alt="Charisma" height="70" width="70">
            <p class="subtitle">Charisma</p>
            <div class="defaultText"><%= Charisma %>(<%=Charisma_Bonus%>)</div>
        </div>
      </div>
      <br>
      <br>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Your Backstory</button>

            <form method="post" action="/sheets/add">
              <input type="submit" value="Save">

</div>


<!-- Modal -->
<div id="myModal" class="modal fade">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title"><%= charName %> (<%= charSex %> <%= charClass %>): Backstory</h4>
      </div>
      <div class="modal-body">
        <p><%= backstoryLife %><%= backstoryLikes %><%= backstoryDislikes %><%= backstoryFlaws %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" value="Give me another!" onClick="history.go()">Another</button>
      </div>
    </div>

  </div>
</div>





<div class="flex-container" id ="statblock">

  <div class="container" >

    <div class="popup" onclick="showInitiative()">
      <span class="popuptext" id="Initiative">Initiative</span>
      <img src="Initiative.png" alt="Initiative" height="50" width="50">
      <p class="subsubtitle">Initiative <br> <%= Initiative %></p>
    </div>


  </div>

  <div class="container">

    <div class="popup" onclick="showHitpoints()">
      <span class="popuptext" id="HitPoints">Hit Points</span>
      <img src="hitpoints.svg" alt="Hit Points" height="50" width="50">
      <p class="subsubtitle">Hitpoints <br> <%= HitPoints %></p>
    </div>


  </div>

  <div class="container">
    <div class="popup" onclick="showArmorClass()">
      <span class="popuptext" id="ArmorClass">Armor Class</span>
      <img src="armorclass.svg" alt="Armor Class" height="50" width="50">
      <p class="subsubtitle">Armor Class <br> <%=armorClass%></p>
    </div>

  </div>

  <div class="container" >

    <div class="popup" onclick="showSpeed()">
      <span class="popuptext" id="Speed">Speed</span>
      <img src="speed.svg" alt="Speed" height="50" width="50">
      <p class="subsubtitle">Speed <br> <%=Speed%></p>
    </div>

  </div>
</div>

<br>
<div class="flex-container" id ="cbuttons">


<div class="panel-group">
  <div class="panel panel-default">
        <a  id ="bottomButtons" type="button" class="btn btn-success" data-toggle="collapse" href="#collapse1"><p><b>Character Attributes</b></p></a>
    <div id="collapse1" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Age: <%= Age %></li>
        <li class="list-group-item">Primary Language: <%= PrimaryLanguage %></li>
        <li class="list-group-item">Secondary Language: <%=SecondaryLanguage%></li>
        <li class="list-group-item">Height:<%= Height %></li>
      </ul>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">


        <a  id ="bottomButtons" type="button" class="btn btn-success" data-toggle="collapse" href="#collapse2"><p><b>Character Skills</b></p></a>


    <div id="collapse2" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Athletics:<%= Athletics %></li>
        <li class="list-group-item">Acrobatics:<%= Acrobatics %></li>
        <li class="list-group-item">SleightOfHand:<%= SleightOfHand %></li>
        <li class="list-group-item">Stealth:<%= Stealth %></li>
        <li class="list-group-item">Arcana:<%= Arcana %></li>
        <li class="list-group-item">History:<%= History %></li>
        <li class="list-group-item">Nature:<%= Nature %></li>
        <li class="list-group-item">Religion:<%= Religion %></li>
        <li class="list-group-item">AnimalHandling:<%= AnimalHandling %></li>
        <li class="list-group-item">Perception:<%= Perception %></li>
        <li class="list-group-item">Deception:<%= Deception %></li>
        <li class="list-group-item">Intimidation:<%= Intimidation %></li>
        <li class="list-group-item">Performance:<%= Performance %></li>
        <li class="list-group-item">Persuasion:<%= Persuasion %></li>
      </ul>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">


        <a  id ="bottomButtons" type="button" class="btn btn-success" data-toggle="collapse" href="#collapse3"><p><b>Character Equipment</b></p></a>


    <div id="collapse3" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item"><%=Armor%></li>
        <li class="list-group-item"><%=primary_weapon%></li>
        <li class="list-group-item"><%=secondary_weapon%></li>
        <li class="list-group-item"><%=equipment%></li>
      </ul>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">


        <a  id ="bottomButtons" type="button" class="btn btn-success" data-toggle="collapse" href="#collapse4"><p><b>Class Features</b></p></a>


    <div id="collapse4" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Proficiencies: <%=ProficientArmors%> , <%=ProficientWeapons%></li>
        <li class="list-group-item">Saving Throws: <%=SavingThrows%></li>
        <li class="list-group-item">Proficient Skills:<%=ProficientSkills%></li>
        <li class="list-group-item">Features: <%=feats%></li>
      </ul>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">


        <a  id ="bottomButtons" type="button" class="btn btn-success" data-toggle="collapse" href="#collapse5"><p><b>Spells</b></p></a>


    <div id="collapse5" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Cantrips:<%=cantrips%></li>
        <li class="list-group-item">First Level Spells:<%=firstLevelSpells%></li>
      </ul>
    </div>
  </div>
</div>





 </body>


 <div class="container bt-light mt-4 pt-4 pb-4">
         <div class="text-right">
             <small>
                 <div>Created by Christopher Long</div>
                 <div>All content owned by <a href="https://www.wizards.com" target="_blank">Wizards of the Coast</a></div>
                 <div><a href="https://github.com/KingFruit85/Node-Random_Character_Creator" target="_blank"><i class="mdi mdi-github-circle"></i> View on Github</a></div>
             </small>
         </div>
     </div>



</html>
